In [ ]:
## OVERVIEW

### Business Understanding

Water Problems in Tanzania, like many countries in Sub-Saharan Africa, faces significant challenges related to water supply and quality. The country struggles with uneven distribution and inadequate infrastructure. Many rural areas, in particular, experience severe water scarcity, which impacts health, agriculture, and economic development. The main issues include limited access to safe drinking water, inadequate sanitation, and frequent droughts, which exacerbate water shortages and affect food security. According to reports, only about 57% of the population has access to basic water services, and the situation is even more dire in rural regions where women and children often have to travel long distances to fetch water from unprotected sources, which are often contaminated and unsafe.

Water Well Projects in Tanzania
To address these critical issues, numerous water well projects have been initiated by the Tanzanian government, non-governmental organizations (NGOs), and international aid agencies. These projects aim to provide sustainable access to clean and safe water, primarily in underserved rural areas. The construction of water wells, including boreholes and shallow wells, is a common solution. These wells tap into underground aquifers to provide a reliable source of clean water. Many projects also incorporate the installation of hand pumps and mechanized pumps to improve water retrieval efficiency.

The challenges faced after implementing water well projects in Tanzania revolve around maintenance and sustainability, water quality, community involvement, financial constraints, environmental factors, and coordination with broader water management efforts. These projects encounter issues like the lack of expertise for maintenance, water contamination risks, insufficient community engagement, funding uncertainties, environmental impacts on water availability, and the need for integrated water resource management strategies. Overcoming these challenges demands a comprehensive approach combining technical solutions, community empowerment, sustainable financing, and holistic water management to ensure the long-term success of water well projects in Tanzania.

## Business Problem

We are tasked with developing a prediction tool that will predict water pumps in need of repair. We used the data provided in an iterative modeling process to create a final classification model or tool that can be used by development organizations to predict whether or not a pump is in need of repair before the pump fails. This tool will enable development organizations to appropriately allocate resources in dispatching repair teams.

Being a data science consulting company we have been hired by the Tanzanian Ministry of Water to create a prediction model to help classify whether water pumps are in need of repair (functional, functional but in need of repairs or non-functional). We have been hired to help reduce the possibility of the above mentioned challenges from occuring as it leads to waste of the Ministry's resources and only send out repair teams to pumps that only need of repairs or are non-functional.

 Main object is to maximize accuracy and  recall to ensure the people of Tanzania have access to potable water and few pumps that are non-functional or in need of repairs are over looked.

In [7]:
# import libraries

# Data Manipulation
import pandas as pd

# Data Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Numerical operations
import numpy as np

In [56]:
class DataSourcing:
  
  def __init__(self, filepath_status, filepath_features):
        self.filepath_status = filepath_status
        self.filepath_features = filepath_features
        self.load_data()
        self.merge_data()

  def load_data(self):
        self.status_df = pd.read_csv(self.filepath_status)
        self.features_df = pd.read_csv(self.filepath_features)
        print("Data loaded successfully.")
        return self.status_df, self.features_df

  def merge_data(self, how='right', on=None):
        self.data = pd.merge(self.status_df, self.features_df, how=how, on=on)
        print("Data merged successfully.")
        return self.data
  #def __init__(self,dataframe):
    #self.original = dataframe
    #self.dataframe = dataframe
  
  def give_info(self):
    message =  f"""
    ----------------------------------------------------------------------->
    DESCRIPTION OF THE DATAFRAME IN QUESTION:
    ----------------------------------------------------------------------->
    
    Dataframe information => {self.data.info()}
    
    ------------------------------------------------------------------------------------------------------------------------->
    
    Dataframe shape => {self.data.shape[0]} rows, {self.data.shape[1]} columns
    ------------------------------------------------------------------------------------------------------------------------->    
    
    There are {len(self.data.columns)} columns, namely: {self.data.columns}.  
    ------------------------------------------------------------------------------------------------------------------------->
        
    The first 5 records in the dataframe are seen here:
    ------------------------------------------------------------------------------------------------------------------------->
    {self.data.head()}
    ------------------------------------------------------------------------------------------------------------------------->
       
    The last 5 records in the self.dataframe are as follows: 
    ------------------------------------------------------------------------------------------------------------------------->
    {self.data.tail()}
    ------------------------------------------------------------------------------------------------------------------------->
    
    The descriptive statistics of the dataframe (mean,median, max, min, std) are as follows:
    ------------------------------------------------------------------------------------------------------------------------->
    {self.data.describe()}
    ------------------------------------------------------------------------------------------------------------------------->
    """
    print (message)
  
  def null_count(self):
    return self.data.isnull().sum()
  
  def unique_count(self):
    return self.data.nunique()
  
  def unique_per_column(self):
    print("<----- UNIQUE VALUES IN EACH COLUMN ----->")
    for col in self.data.columns:
      print(f"{col} ({len(self.data[col].unique())} unique)\n {sorted(self.data[col].unique())}")
      print()
    print("<----- END OF UNIQUE VALUES IN EACH COLUMN ----->")
    return

    
  def plot_water_pump_status(self):
        fig, ax = plt.subplots(figsize=(15, 10))

        ax.tick_params(axis="x", labelsize=24)
        ax.tick_params(axis="y", labelsize=18)

        ax.bar(x=self.x, height=self.height, color=self.colors)
        
        plt.title(self.title, fontsize=30)
        plt.ylabel(self.ylabel, fontsize=24)
        plt.ylim(0, self.ylim)

#### Loading the dataset

In [59]:
# Filepaths to the datasets
 
filepath_features = ('Data\water_columns.csv')
filepath_status = ('Data/water_status_group.csv')

filepath_features.head()
filepath_status.head()

In [51]:




data_source = DataSourcing(filepath_status, filepath_features)
  

data_source.give_info()

Data loaded successfully.
Data merged successfully.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   status_group           59400 non-null  object
 2   amount_tsh             59400 non-null  float64
 3   date_recorded          59400 non-null  object
 4   funder                 55765 non-null  object
 5   gps_height             59400 non-null  int64
 6   installer              55745 non-null  object
 7   longitude              59400 non-null  float64
 8   latitude               59400 non-null  float64
 9   wpt_name               59400 non-null  object
 10  num_private            59400 non-null  int64
 11  basin                  59400 non-null  object
 12  subvillage             59029 non-null  object
 13  region                 59400 non-null  object
 14  region_code            59400 non-null  int64
 15  district_code          59400 non-null  int64
 16  lga                    59400 non-null  object
 17  ward                   59400 non-null  object
 18  population             59400 non-null  int64
 19  public_meeting         56066 non-null  object
 20  recorded_by            59400 non-null  object
 21  scheme_management      55523 non-null  object
 22  scheme_name            31234 non-null  object
 23  permit                 56344 non-null  object
 24  construction_year      59400 non-null  int64
 25  extraction_type        59400 non-null  object
 26  extraction_type_group  59400 non-null  object
 27  extraction_type_class  59400 non-null  object
 28  management             59400 non-null  object
 29  management_group       59400 non-null  object
 30  payment                59400 non-null  object
 31  payment_type           59400 non-null  object
 32  water_quality          59400 non-null  object
 33  quality_group          59400 non-null  object
 34  quantity               59400 non-null  object
 35  quantity_group         59400 non-null  object
 36  source                 59400 non-null  object
 37  source_type            59400 non-null  object
 38  source_class           59400 non-null  object
 39  waterpoint_type        59400 non-null  object
 40  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

    ----------------------------------------------------------------------->
    DESCRIPTION OF THE DATAFRAME IN QUESTION:
    ----------------------------------------------------------------------->

    Dataframe information => None

    ------------------------------------------------------------------------------------------------------------------------->

    Dataframe shape => 59400 rows, 41 columns
    ------------------------------------------------------------------------------------------------------------------------->

    There are 41 columns, namely: Index(['id', 'status_group', 'amount_tsh', 'date_recorded', 'funder',
       'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name',
       'num_private', 'basin', 'subvillage', 'region', 'region_code',
       'district_code', 'lga', 'ward', 'population', 'public_meeting',
       'recorded_by', 'scheme_management', 'scheme_name', 'permit',
       'construction_year', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'management_group', 'payment',
       'payment_type', 'water_quality', 'quality_group', 'quantity',
       'quantity_group', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group'],
      dtype='object').
    ------------------------------------------------------------------------------------------------------------------------->

    The first 5 records in the dataframe are seen here:
    ------------------------------------------------------------------------------------------------------------------------->
          id    status_group  amount_tsh date_recorded        funder  gps_height  \
0  69572      functional      6000.0    2011-03-14         Roman        1390
1   8776      functional         0.0    2013-03-06       Grumeti        1399
2  34310      functional        25.0    2013-02-25  Lottery Club         686
3  67743  non functional         0.0    2013-01-28        Unicef         263
4  19728      functional         0.0    2011-07-13   Action In A           0

      installer  longitude   latitude              wpt_name  ...  \
0         Roman  34.938093  -9.856322                  none  ...
1       GRUMETI  34.698766  -2.147466              Zahanati  ...
2  World vision  37.460664  -3.821329           Kwa Mahundi  ...
3        UNICEF  38.486161 -11.155298  Zahanati Ya Nanyumbu  ...
4       Artisan  31.130847  -1.825359               Shuleni  ...

   payment_type water_quality quality_group      quantity  quantity_group  \
0      annually          soft          good        enough          enough
1     never pay          soft          good  insufficient    insufficient
2    per bucket          soft          good        enough          enough
3     never pay          soft          good           dry             dry
4     never pay          soft          good      seasonal        seasonal

                 source           source_type source_class  \
0                spring                spring  groundwater
1  rainwater harvesting  rainwater harvesting      surface
2                   dam                   dam      surface
3           machine dbh              borehole  groundwater
4  rainwater harvesting  rainwater harvesting      surface

               waterpoint_type waterpoint_type_group
0           communal standpipe    communal standpipe
1           communal standpipe    communal standpipe
2  communal standpipe multiple    communal standpipe
3  communal standpipe multiple    communal standpipe
4           communal standpipe    communal standpipe

[5 rows x 41 columns]
    ------------------------------------------------------------------------------------------------------------------------->

    The last 5 records in the self.dataframe are as follows:
    ------------------------------------------------------------------------------------------------------------------------->
              id status_group  amount_tsh date_recorded           funder  \
59395  60739   functional        10.0    2013-05-03  Germany Republi
59396  27263   functional      4700.0    2011-05-07      Cefa-njombe
59397  37057   functional         0.0    2011-04-11              NaN
59398  31282   functional         0.0    2011-03-08            Malec
59399  26348   functional         0.0    2011-03-23       World Bank

       gps_height installer  longitude  latitude             wpt_name  ...  \
59395        1210       CES  37.169807 -3.253847  Area Three Namba 27  ...
59396        1212      Cefa  35.249991 -9.070629    Kwa Yahona Kuvala  ...
59397           0       NaN  34.017087 -8.750434              Mashine  ...
59398           0      Musa  35.861315 -6.378573               Mshoro  ...
59399         191     World  38.104048 -6.747464      Kwa Mzee Lugawa  ...

       payment_type water_quality quality_group      quantity  quantity_group  \
59395    per bucket          soft          good        enough          enough
59396      annually          soft          good        enough          enough
59397       monthly      fluoride      fluoride        enough          enough
59398     never pay          soft          good  insufficient    insufficient
59399    on failure         salty         salty        enough          enough

             source   source_type source_class     waterpoint_type  \
59395        spring        spring  groundwater  communal standpipe
59396         river    river/lake      surface  communal standpipe
59397   machine dbh      borehole  groundwater           hand pump
59398  shallow well  shallow well  groundwater           hand pump
59399  shallow well  shallow well  groundwater           hand pump

      waterpoint_type_group
59395    communal standpipe
59396    communal standpipe
59397             hand pump
59398             hand pump
59399             hand pump

[5 rows x 41 columns]
    ------------------------------------------------------------------------------------------------------------------------->

    The descriptive statistics of the dataframe (mean,median, max, min, std) are as follows:
    ------------------------------------------------------------------------------------------------------------------------->
                     id     amount_tsh    gps_height     longitude      latitude  \
count  59400.000000   59400.000000  59400.000000  59400.000000  5.940000e+04
mean   37115.131768     317.650385    668.297239     34.077427 -5.706033e+00
std    21453.128371    2997.574558    693.116350      6.567432  2.946019e+00
min        0.000000       0.000000    -90.000000      0.000000 -1.164944e+01
25%    18519.750000       0.000000      0.000000     33.090347 -8.540621e+00
50%    37061.500000       0.000000    369.000000     34.908743 -5.021597e+00
75%    55656.500000      20.000000   1319.250000     37.178387 -3.326156e+00
max    74247.000000  350000.000000   2770.000000     40.345193 -2.000000e-08

        num_private   region_code  district_code    population  \
count  59400.000000  59400.000000   59400.000000  59400.000000
mean       0.474141     15.297003       5.629747    179.909983
std       12.236230     17.587406       9.633649    471.482176
min        0.000000      1.000000       0.000000      0.000000
25%        0.000000      5.000000       2.000000      0.000000
50%        0.000000     12.000000       3.000000     25.000000
75%        0.000000     17.000000       5.000000    215.000000
max     1776.000000     99.000000      80.000000  30500.000000

       construction_year
count       59400.000000
mean         1300.652475
std           951.620547
min             0.000000
25%             0.000000
50%          1986.000000
75%          2004.000000
max          2013.000000
    ------------------------------------------------------------------------------------------------------------------------->

In [52]:
data_source.data['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [53]:
data_source.data['status_group'].value_counts(normalize = True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [57]:
x = ["Functional", "Functional Needs Repair", "Non Functional"]
height = [0.543081, 0.072677, 0.384242]
colors = ["cadetblue", "lightcoral", "cadetblue"]
title = "Status of Water Pumps"
ylabel = "Percentage"
ylim = 0.65
text_annotations = ['54%', '7%', '39%']
output_path = './images/Well_Status_bar_Chart.png'

plotter = Plotter(x, height, colors, title, ylabel, ylim, text_annotations, output_path)
plotter.plot_water_pump_status()

NameError: name 'Plotter' is not defined